/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */


// button colors
$buttonColor: #3a86ff;
$buttonHover: #8338ec;
$topButtonHover: #ff006e;

// text colors light theme
$titleColor: #22223b;
$textColor: #22223b;
$subTitle: #4a4e69;
$cardSubtitle: #9a8c98;
$talkCardSubTitle: #c9ada7;
$blogCardTitleColor: #22223b;

// text color dark theme
$textColorDark: #f8f8f2;

// toggle switch colors
$toggleCheck: #3a86ff;
$toggleSwitchSliderBG: #bdb2ff;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #8338ec;
$githubRepoCardColor: #3a86ff;
$githubRepoCardRepoCardStatsColor: #ffbe0b;
$githubRepoCardRepoNameColor: #22223b;
$githubProfileCardLocationTS: #ff006e;
$githubProfileCardBorder: #8338ec;

// light background colors
$lightBackground1: #e0fbfc;
$lightBackground2: #c2e9fb;
$lightBackground3: #b2f7ef;
$blogCardContainerColor: #a0ced9;

// dark background colors
$darkBackground: #22223b;

// light theme box shadows
$lightBoxShadowDark: rgba(34, 34, 59, 0.2);
$lightBoxShadow: rgba(58, 134, 255, 0.1);
$lightBoxShadowDarker: rgba(131, 56, 236, 0.3);

// dark theme box shadows
$darkBoxShadow: #bdb2ff;
$darkBoxShadow2: #f8f8f2;

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(58, 134, 255, 0.4),
  rgba(131, 56, 236, 0.2)
);
$experienceCardBannerLG: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: rgb(243, 239, 239);
$lightBorder1: rgba(211, 211, 211, 0.397);
$educationCardBorder: #a9a7f9;

// hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$headerHoverBG: #f4f4f4;
$contactDetailHoverTS: #b5b5b5;

// misc backgrounds
$progressBarSpanBG: #aaa5ff;
$iconBackground: #333;
$appHeaderBG: #282c34;

// misc colors
$skillsColor: #645beb;
$appLink: #09d3ac;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;
